
body {
  background: #ffffff;
}


.tagline{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: bottom;
    margin-top: 60px;
    height: 400px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;  
}

