<!-- your html code here -->

<div class="container justify-content-center">
   
    <div>
        <h2>
            Contact
        </h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla.
            Vestibulum id ligula porta felis euismod semper. Praesent commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
            cursus commodo.
        </p>
    </div >
    <div class=" d-flex justify-content-center ">
    <form class="bg-light w-75 pe-3 pt-2">
        
            <div class="mb-3 d-md-flex justify-content-end ">
                <label for="exampleInputEmail1" class="form-label me-4"><strong>Your E-mail</strong></label>
                <input type="email" class="form-control w-75" placeholder="Your email" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
    
        <div class="mb-3 d-md-flex justify-content-end pt-2 ">
            <label for="exampleFormControlTextarea1" class="form-label me-4 "><strong>Your message</strong></label>
            <textarea class="form-control w-75 " id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="3"></textarea>
        </div>
        <div class="mb-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary d-flex ">Submit</button>
        </div>
    </form>
    
    </div>
    
</div>