<!-- your html code here -->
<div class="container-fluid " id="heading-container">
       <div class="row mt-5 mb-5 pt-5 ">
        <div class="col-md-7 col-sm-6 fh-border-top fh-border-bottom d-flex justify-content-end pt-5">
            <div class="  align-items-center justify-content-start " id="sv-text-header">
                <h1 class="text-secondary"><strong class="fh-strong">The First Heading</strong> Will catch your eye. </h1>
                 <p>Donec ullamcorper nulla non metus auctor fringilla.<br>Vestibulum id ligula porta felis 
                    euismod semper.<br> Praesent commodo cursus magna, vel scelerisque nisl consecteur.<br>
                    Fusce dapibus, tellus ac cursus commodo.
                 </p>
            </div>
         </div>
        <div class="col-md-4 col-sm-2 fh-border-top fh-border-bottom pb-4 pt-5">
            <div class="sv-image-div">
                <img src="https://picsum.photos/300/300?random=1" class="  rounded-circle" alt="Imagen services">
            </div>
        </div>
         
       </div>
       <style>
        .fh-strong{
            color  : rgb(63, 63, 63)
        }
        .fh-border-top{
            border-top: 1px solid #ccc;
        }
        .fh-border-bottom{
            border-bottom: 1px solid #ccc;
        }
       </style>

 </div>