<!-- your html code here -->
<div class="container justify-content-center mt-5 mb-5">
    <div>
        <h2>
           Portfolio
        </h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla.
            Vestibulum id ligula porta felis euismod semper. Praesent commodo
            cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac
            cursus commodo.
        </p>
    <div class="card-group gap-4">
        <div class="card border-0">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum labore facere sint quaerat natus esse minima corrupti error quam libero temporibus optio velit eum, ipsam ex excepturi fugiat deleniti sunt.</p>
               
                
            </div>
        </div>
        <div class="card border-0">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum labore facere sint quaerat natus esse minima corrupti error quam libero temporibus optio velit eum, ipsam ex excepturi fugiat deleniti sunt.</p>
               
            </div>
        </div>
        <div class="card border-0">
            <img src="./assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body ps-0">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum labore facere sint quaerat natus esse minima corrupti error quam libero temporibus optio velit eum, ipsam ex excepturi fugiat deleniti sunt.</p>
               </p>
                </div>
        </div>
    </div>
</div>